* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  
  body {
    background-color: #d6e2f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    
  }
  
  .borda {
    background-color: #fff;
    padding: 30px;
    border-radius: 20px;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 0 80px darkblue;
    transition: box-shadow 0,5s, ease-in-out;
    font-family:'Courier New', Courier, monospace;
    font-style: normal;
  }
  
  .imagem {
    width: 100%;
    height: auto;
    border-radius: 25px;
    display: block;
    cursor: pointer;
    
  }

.borda:hover {
    box-shadow: 0 0 80px #ea0551;
  }

.attribution{
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-weight: bolder;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif    
}
